<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="image_custom_msg" type="Abhay\ProductMsg\Plugin\ImagePlugin" sortOrder="10" />
    </type>
</config>
